<app-header titulo="Card"></app-header>

<ion-content padding>

    <ion-card mode="ios" color="primary">

        <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>

    </ion-card>

    <ion-card>
        <ion-item color="primary">
            <ion-icon color="danger" slot="start" name="pin"></ion-icon>
            <ion-label>Marcador</ion-label>
        </ion-item>
        <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quasi enim magni dicta. Qui repellendus consectetur repudiandae, perferendis nam consequuntur eos nihil inventore exercitationem saepe dignissimos soluta, aliquam quod repellat?
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-img src="/assets/shapes.svg"></ion-img>
        <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit nostrum commodi, nam dolorem dignissimos perferendis iusto ad. Aspernatur vitae exercitationem dignissimos adipisci placeat, architecto cupiditate ut, accusantium enim quaerat repudiandae.
        </ion-card-content>
    </ion-card>

</ion-content>