<ion-header no-border>
    <ion-toolbar>

        <ion-buttons slot="start">
            <!-- <ion-button (click)="toggleMenu()">
                <ion-icon slot="start" name="menu"></ion-icon>
            </ion-button> -->

            <ion-menu-button color="primary" menu="primerMenu"></ion-menu-button>
        </ion-buttons>

        <ion-title color="primary">inicio</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item *ngFor="let componente of componentes | async" [routerLink]="componente.redirectTo" detail>
            <ion-icon slot="start" [name]="componente.icon" color="primary"></ion-icon>
            <ion-label>{{componente.name}}</ion-label>
        </ion-item>
    </ion-list>

</ion-content>